// Layout
@baseline: 12px;
@horz-padding: 20px;

// Font
@color: #333;
@link-color: #428BCA;

// Solids
@main: #344482;
@secondary: #1485CD;
@weak: #EDEDED;
@meta: #787878;
@neutral: #767676;
@border: #e3e3db;
