.header {
    .box-sizing();
    width: 98%;
    text-align: center;

    @media (min-width: 780px) {
        width: auto;
        margin-right: 20px;
        float: right;
    }
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    padding: @baseline @horz-padding/2;
    overflow: hidden;
    text-align: center;
    text-decoration: none;

    @media (min-width: 780px) {
        display: block;
    }
}
