.post {
    .box-sizing();
    padding: 20px;
    margin-bottom: @baseline*3;
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.15);

    @media (min-width: 640px) {
        box-shadow: 0 6px 16px -4px rgba(0, 0, 0, 0.15);
    }
}
