.post {
    .box-sizing();
    padding: 20px;
}

.post--full {
    margin-bottom: 0;
}

.post__title {
    margin-bottom: @baseline;
}

.post__body {

    img {
        width: 106%;
        margin: 10px 0;
        background-color: @border;
        margin-left: -3%;
    }
}
