h1, h2, h3, h4, h5, h6 {
    margin: 0 0 @baseline 0;
    color: @color;
    .font-size(16);
    vertical-align: bottom;
}

h1 {
    .font-size(20, 26);

    a {
        text-decoration: none;
    }

    @media (min-width: 640px) {
        .font-size(24);
    }
}

h2 {
    .font-size(16);
    // .font-size(20);
}

p {
    margin: 0 0 @baseline 0;
}

a {
    color: #333;
}

ul.unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.meta {
    color: @meta;
    .font-size(11, 13);
    font-style: italic;
    font-family: Georgia;

    @media (min-width: 640px) {
        .font-size(12, 14);
    }
}
