<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

    </head>
    <body>

        <header class="header">
            <nav class="header__nav">
                <a class="nav__link" href="/" title="Posts">
                    <i class="i-home nav__icon"></i>
                    <span class="nav__label">Posts</span>
                </a>
                <a class="nav__link" href="http://labs.benholland.me/" title="Labs">
                    <i class="i-testtube nav__icon"></i>
                    <span class="nav__label">Labs</span>
                </a>
                <a class="nav__link" href="http://github.com/hollandben" title="GitHub">
                    <i class="i-github nav__icon"></i>
                    <span class="nav__label">GitHub</span>
                </a>
                <a class="nav__link" href="http://twitter.com/hollandben" title="Twitter">
                    <i class="i-twitter nav__icon"></i>
                    <span class="nav__label">Twitter</span>
                </a>
            </nav>

            <div class="header__title">
                <h1>Ben Holland</h1>
                <h2>Web Developer and JavaScript Nerd</h2>
            </div>
        </header>

        <main class="content">
            {{ content }}
        </main>

    </body>
</html>
